.card-registration .select-input.form-control[readonly]:not([disabled]) {
font-size: 1rem;
line-height: 2.15;
padding-left: .75em;
padding-right: .75em;
}
.card-registration .select-arrow {
top: 13px;
}
.red{
    color: red;
}

    .hoverable{
        position: relative;
        display: block;
        cursor: pointer;
        height: 100px;
        width: 100px;
        border: 5px solid #000;
        border-radius: 50%;
      }
      .hoverable .background{
        position: absolute;
        display: none;
        top: 0;
        left:  0;
        bottom: 0;
        right: 0;
        background-color:rgba(255, 255, 255, 0.5);
        pointer-events: none;
        border-radius: 50%;
        z-index: 1;
      }
      
        img {
            height: 100%;
            width: 100%;
            border-radius: 50%;
        }